A Name for Everyone
<https://my.freenom.com/>

  * Services //
      o My Subscriptions
        <https://my.freenom.com/clientarea.php?action=products>
      o My Domains <https://my.freenom.com/clientarea.php?action=domains>
      o Register a New Domain <https://my.freenom.com/domains.php>
      o Freenom World <http://www.freenom.world/>
      o Renew Domains <https://my.freenom.com/domains.php?a=renewals>
      o Transfer Domains <https://my.freenom.com/domains.php?a=transfers>
      o Free and Paid domains
        <http://www.freenom.com/en/freeandpaiddomains.html>
      o Domain Price Chart <http://www.freenom.com/en/pricechart.html>
      o WHOIS <http://whois.freenom.com/>
  * Partners //
      o Resellers <http://www.freenom.com/en/resellers.html>
      o IP Agencies <http://www.freenom.com/en/ipagencies.html>
      o Developers <http://www.freenom.com/en/developers.html>
      o Anti-abuse API <http://www.freenom.com/en/antiabuse_api.html>
      o Freenom API <http://www.freenom.com/en/freenom-api.html>
  * About Freenom //
      o Company <http://www.freenom.com/en/aboutfreenom.html>
      o Terms and Conditions
        <http://www.freenom.com/en/termsandconditions.html>
      o Press <http://www.freenom.com/en/press.html>
      o Jobs <http://www.freenom.com/en/jobs.html>
      o Contact <http://www.freenom.com/en/contactus.html>
  * Support //
      o Knowledgebase <https://my.freenom.com/knowledgebase.php>
      o Downloads <https://my.freenom.com/downloads.php>
      o
  *  
  * // Hello Mik //
      o Edit Account Details
        <https://my.freenom.com/clientarea.php?action=details>
      o Manage Credit Card
        <https://my.freenom.com/clientarea.php?action=creditcard>
      o My Invoices <https://my.freenom.com/clientarea.php?action=invoices>
      o Email History <https://my.freenom.com/clientarea.php?action=emails>
      o Change Password
        <https://my.freenom.com/clientarea.php?action=changepw>
      o View cart <https://my.freenom.com/cart.php?a=view>
      o Logout <https://my.freenom.com/logout.php>
  * English //
      o English <http://www.freenom.com/en/index.html>
      o Русский <http://www.freenom.com/ru/index.html>
      o 简体字 <http://www.freenom.com/zh/index.html>
      o Español <http://www.freenom.com/es/index.html>
      o ไทย <http://www.freenom.com/th/index.html>
      o Bahasa Indonesia <http://www.freenom.com/id/index.html>
      o Français <http://www.freenom.com/fr/index.html>
      o Tiếng Việt <http://www.freenom.com/vi/index.html>
      o Português <http://www.freenom.com/pt/index.html>
      o Türkçe <http://www.freenom.com/tr/index.html>
      o Deutsch <http://www.freenom.com/de/index.html>
      o ﺎﻠﻋﺮﺒﻳﺓ <http://www.freenom.com/ar/index.html>
      o 繁體字 <http://www.freenom.com/zu/index.html>
      o हिन्दू <http://www.freenom.com/hi/index.html>
      o Romana <http://www.freenom.com/ro/index.html>
      o Nederlands <http://www.freenom.com/nl/index.html>
      o Italiano <http://www.freenom.com/it/index.html>
      o 日本語 <http://www.freenom.com/ja/index.html>


  My Domains
  View & manage all the domains you have registered with us from here...

Filter

  * // Prev Page <javascript:return false;>
  * Next Page // <javascript:return false;>

Domain
<https://my.freenom.com/clientarea.php?action=domains&orderby=domain>
Registration Date
<https://my.freenom.com/clientarea.php?action=domains&orderby=regdate>
Expiry date
<https://my.freenom.com/clientarea.php?action=domains&orderby=nextexpirydate> 	Status <https://my.freenom.com/clientarea.php?action=domains&orderby=status> 	Type 	  	 
zero-point-technology.ml // <http://zero-point-technology.ml/>
2022-11-06 	2023-11-06 	Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1141923565>
	 
identitysm.ml // <http://identitysm.ml/> 	2022-10-18 	2023-10-18 	Active
	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140078336>
	 
ngitm.ml // <http://ngitm.ml/> 	2022-10-18 	2023-10-18 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140078339>
	 
3words.tk // <http://3words.tk/> 	2022-10-18 	2023-10-18 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075784>
	 
3words.ml // <http://3words.ml/> 	2022-10-18 	2023-10-18 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075785>
	 
wordsm.ml // <http://wordsm.ml/> 	2022-10-18 	2023-10-18 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075786>
	 
encouragement.ml // <http://encouragement.ml/> 	2022-10-18 	2023-10-18
Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075050>
	 
ragetm.tk // <http://ragetm.tk/> 	2022-10-18 	2023-10-18 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075051>
	 
resilience.tk // <http://resilience.tk/> 	2022-10-18 	2023-10-18 	Active
	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075052>
	 
sentience.ml // <http://sentience.ml/> 	2022-10-18 	2023-10-18 	Active
Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140075053>
	 
videosm.tk // <http://videosm.tk/> 	2022-10-18 	2023-10-18 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140077179>
	 
ngid.tk // <http://ngid.tk/> 	2022-10-18 	2023-10-18 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1140078334>
	 
etik.gq // <http://etik.gq/> 	2022-08-25 	2023-08-25 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679338>
	 
ethic.gq // <http://ethic.gq/> 	2022-08-25 	2023-08-25 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679339>
	 
trustsm.ml // <http://trustsm.ml/> 	2022-08-25 	2023-08-25 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679340>
	 
shoptm.ml // <http://shoptm.ml/> 	2022-08-25 	2023-08-25 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679341>
	 
zonesm.ml // <http://zonesm.ml/> 	2022-08-25 	2023-08-25 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679086>
	 
regenerative.tk // <http://regenerative.tk/> 	2022-08-25 	2023-08-25
Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679087>
	 
earthtm.ml // <http://earthtm.ml/> 	2022-08-25 	2023-08-25 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679088>
	 
funds.cf // <http://funds.cf/> 	2022-08-25 	2023-08-25 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679089>
	 
dreamsm.tk // <http://dreamsm.tk/> 	2022-08-25 	2023-08-25 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136678578>
	 
fondation.ml // <http://fondation.ml/> 	2022-08-25 	2023-08-25 	Active
Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679090>
	 
edentm.ml // <http://edentm.ml/> 	2022-08-25 	2023-08-25 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136678579>
	 
fundation.ml // <http://fundation.ml/> 	2022-08-25 	2023-08-25 	Active
Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136679091>
	 
worldtm.ml // <http://worldtm.ml/> 	2022-08-25 	2023-08-25 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1136677609>
	 
medbot.tk // <http://medbot.tk/> 	2021-08-28 	2023-08-28 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1120123378>
	 
medbot.gq // <http://medbot.gq/> 	2021-08-28 	2023-08-28 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1120123379>
	 
xn--tnt-dsb.ml // <http://xn--tnt-dsb.ml/> 	2021-03-07 	2023-11-07
Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1111303765>
	 
xn--possd-xjc7zqf.ml // <http://xn--possd-xjc7zqf.ml/> 	2021-03-06
2024-03-06 	Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1111206503>
	 
xnsm.ml // <http://xnsm.ml/> 	2021-03-05 	2024-03-05 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1111126789>
	 
codersm.ml // <http://codersm.ml/> 	2021-03-05 	2024-03-05 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1111125452>
	 
fenomx.cf // <http://fenomx.cf/> 	2021-03-04 	2024-03-04 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1111064907>
	 
lifetm.tk // <http://lifetm.tk/> 	2021-03-02 	2024-03-02 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110924562>
	 
xn--offine-51c.tk // <http://xn--offine-51c.tk/> 	2021-03-02 	2024-03-02
	Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110923940>
	 
xn--uxa.ml // <http://xn--uxa.ml/> 	2021-03-02 	2024-03-02 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110923941>
	 
xn--t-fmb.ml // <http://xn--t-fmb.ml/> 	2021-03-02 	2024-03-02 	Active
Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110923942>
	 
xn--t-fmb.tk // <http://xn--t-fmb.tk/> 	2021-03-02 	2024-03-02 	Active
Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110923943>
	 
techtm.ml // <http://techtm.ml/> 	2021-02-28 	2024-02-29 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110829080>
	 
cookiesm.tk // <http://cookiesm.tk/> 	2021-02-28 	2024-02-29 	Active
Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110829081>
	 
ethical.gq // <http://ethical.gq/> 	2021-02-28 	2024-02-29 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1110829083>
	 
fairnet.ml // <http://fairnet.ml/> 	2020-11-21 	2024-02-21 	Active 	Free
	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1102446649>
	 
dlock.tk // <http://dlock.tk/> 	2020-11-12 	2023-11-12 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1101523756>
	 
qlocks.ml // <http://qlocks.ml/> 	2020-11-12 	2023-11-12 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1101528056>
	 
locksm.ml // <http://locksm.ml/> 	2020-11-12 	2023-11-12 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1101528057>
	 
locksm.gq // <http://locksm.gq/> 	2020-11-12 	2023-11-12 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1101528058>
	 
eotsm.gq // <http://eotsm.gq/> 	2020-10-26 	2023-10-26 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1100231236>
	 
eottm.ml // <http://eottm.ml/> 	2020-10-26 	2023-10-26 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1100231237>
	 
drit.ml // <http://drit.ml/> 	2020-10-26 	2023-10-26 	Active 	Free
Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1100233836>
	 
nutrauhealth.gq // <http://nutrauhealth.gq/> 	2020-10-26 	2023-10-26
Active 	Free 	Manage Domain //
<https://my.freenom.com/clientarea.php?action=domaindetails&id=1100231037>
	 

×


        Transfer Information

Close

Results Per Page:

49 Records Found, Page 1 of 1

  * // Prev Page <javascript:return false;>
  * Next Page // <javascript:return false;>


    Freenom World is a fast and anonymous Public DNS resolver

Change your DNS to

80.80.80.80 80.80.81.81

  * Why Freenom World? Watch video //
  * Visit Freenom World <http://www.freenom.world/>


          Services

  * My Subscriptions <https://my.freenom.com/clientarea.php?action=products>
  * My Domains <https://my.freenom.com/clientarea.php?action=domains>
  * Register a New Domain <https://my.freenom.com/domains.php>
  * Freenom World <http://www.freenom.world/>
  * Renew Domains <https://my.freenom.com/domains.php?a=renewals>
  * Transfer Domains <https://my.freenom.com/domains.php?a=transfers>
  * Register a New Domain <http://www.freenom.com/en/index.html>
  * Free and Paid domains
    <http://www.freenom.com/en/freeandpaiddomains.html>
  * Domain Price Chart <http://www.freenom.com/en/pricechart.html>
  * WHOIS <http://whois.freenom.com/>


          Partners

  * Resellers <http://www.freenom.com/en/resellers.html>
  * IP Agencies <http://www.freenom.com/en/ipagencies.html>
  * Developers <http://www.freenom.com/en/developers.html>
  * Anti-abuse API <http://www.freenom.com/en/antiabuse_api.html>
  * Freenom API <http://www.freenom.com/en/freenom-api.html>


          About Freenom

  * Company <http://www.freenom.com/en/aboutfreenom.html>
  * Terms and Conditions <http://www.freenom.com/en/termsandconditions.html>
  * Press <http://www.freenom.com/en/press.html>
  * Jobs <http://www.freenom.com/en/jobs.html>
  * Contact <http://www.freenom.com/en/contactus.html>


          Support

  * Knowledgebase <https://my.freenom.com/knowledgebase.php>
  * Downloads <https://my.freenom.com/downloads.php>
  * Report Abuse <http://www.freenom.com/en/reportabuse.html>


          Contact

    Freenom
    Amsterdam-Netherlands
    Tel. +31 20 531 57 26
    Fax +31 20 531 57 21

All rights reserved © 2023 Freenom - The Netherlands

//
